* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  width: 500px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  background: #ffffff;
  padding: 0px 25px 5px 25px;
  /* border-radius: 18px;
  box-shadow: 2px 2px 15px gray; */
}
nav hr{
  color: #000000;
}

.nav-btns{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.menu {
  /* background: #9868ff; */
  width: 100%;
  padding: 13px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(1, 1, 1);
}
.menu-item {
  background-color: #bcbbf5;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 16px;
  transition: 0.4s ease;
  /* box-shadow: 2px 2px 5px rgb(78, 120, 255); */
}
.menu-item.inactive {
  border-radius: 8px;
  background-color: white;
  border: none;
  /* background-color: rgb(192, 179, 255) !important; */
}
.menu-item.inactive svg {
  color: #303030 !important;
}
.menu-item.inactive svg:hover {
  color: #6361cd !important;
}
.menu-item.inactive .menu-item__text {
  min-width: 0px;
  opacity: 0;
  font-size: 0px;
}
.menu-item__text {
  min-width: 80px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.menu-item__icon {
  display: inline-block;
  text-align: center;
  font-size: 0px;
}
.menu-item__icon svg {
  width: 30px;
  height: 30px;
}

