*{
  margin: 0;padding: 0;box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
#main-wrapper{
  background-color: "white";
  width: 480px;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: -2px 7px 30px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  #main-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: none;
  }
}
